body {
  background-color: #ededed;
  color: rgba(0, 0, 0, 0.6);
}

.main .container {
  padding: 0 30px;
}

.logo {
  background-color: white;
}

.logo-lnk {
  display: inline-block;
  padding: 10px;
}

.menu {
  background-color: #afdde9;
}

.menu .links span a {
  margin-right: 10px;
  display: inline-block;
  padding: 5px 8px 6px;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

.menu .links span:last-child a {
  margin-right: 0px;
}

.menu .help-icon-img {
  max-width: 16px;
}

.welcome .help-icon-img {
  max-width: 28px;
  transform: translateY(-2px);
  padding: 0 5px;
}

.logo-img {
  max-width: 200px;
  opacity: 0.6;
}

.timetable {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.timetable .today .time-header > * {
  display: none;
}

.timetable .today .time-header:before {
  content: 'Today';
  display: inline-block;
  font-weight: 600;
}

.timetable .yesterday .time-header > * {
  display: none;
}

.timetable .yesterday .time-header:before {
  content: 'Yesterday';
  display: inline-block;
}

.timetable > .column > * {
  cursor: pointer;
}

.timetable .main-header,
.timetable .header {
  width: 100%;
  display: flex;
  margin: 10px 0 0;
}

.timetable .main-header {
  font-size: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.timetable .time-header {
  width: 40%;
}

.timetable .header {
  font-size: 14px;
  margin: 10px 0 0;
}

.timetable .column {
  width: 40%;
  font-size: 12px;
}

.timetable .column-even {
  width: 60%;
}

.timetable .column-odd :after {
  content: 'in';
  margin-left: 2px;
}

.timetable .column-even :after {
  content: 'out' !important;
  margin-left: 2px;
}

@media screen and (max-width:789px) {
  header {
    text-align: center;
  }

  /* .app {
    text-align: center;
  } */
  .logo-img {
    max-width: 170px;
  }

  .menu .help-icon-img {
    transform: translateY(3px);
  }
}